<h5> Welcome <%= @user.first_name %>, tell us a bit about yourself. </h5>
<div class="edit-form input-field">
  <%= form_for @user, url: wizard_path  do |f| %>
    <span class="signup-age">I am   <%= f.number_field :age, :placeholder=>" Age", style: 'display:inline; width: 44px;'%> years old</span> <br>
    <span class="signup-location">living in  <%= f.text_field :location, :placeholder=>"  City", style: 'display:inline; width: 120px;' %></span><br>
    <span class="seeking">looking for<%= f.collection_select :seeking, User::SEEKING, :to_s, :to_s, :include_blank => false, :prompt => 'Select'%><br>
    <%= f.submit "Submit", :class=>'waves-effect waves-red waves-ripple btn' %>
  <% end %>
</div>
