<h3 class="mobile-show-title"> Playlist from -<%= @user.username %> </h3>
<div class="playlist-show">
  <div class="playlistWrapper">
    <iframe src="https://embed.spotify.com/?uri=<%= @user.playlist %>" width="740" height="400" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>
<div class="playlist-icons" id="playlist-icons">
  <span class="playlist-thumbdown">
    <%= link_to next_match_path do %>
      <i class="large material-icons">thumb_down</i>
    <% end %>
  </span>
  <span class="playlist-thumbup">
    <%= link_to user_profile_path do %>
      <i class="large material-icons">thumb_up</i>
    <% end %>
  </span>
</div>
<div id ="footer">
  <div class="playlist-icons">
    <span class="thumbdown">
      <%= link_to next_match_path do %>
        <i class="large material-icons">thumb_down</i>
      <% end %>
    </span>
    <span class="thumbup">
      <%= link_to user_profile_path do %>
        <i class="large material-icons">thumb_up</i>
      <% end %>
    </span>
  </div>
</div>
